<head>
  <title><%=title%></title>
</head>
<% include ./partials/head.ejs %>
<% include ./partials/navbar.ejs %>

<main>
  <div class="home-container">
    <div class="home-pic">
      <img src="/images/pages_images/output.png" alt="">
    </div>
    <div class="home-content">
      <h1>Assignmetn Work</h1>
      <p class="caption">Work from home</p>
      <p>
        We are currently hiring individuals for remote assignment work,
        providing an excellent opportunity to earn extra income and lead a more
        comfortable life. This flexible work-from-home option allows you to
        balance your professional and personal commitments seamlessly. Join us
        and unlock the potential to enhance your financial well-being while
        enjoying the convenience of working from the comfort of your home.
      </p>
      <div class="btndiv">
        <a href="#" class="btn">Explore More</a>
      </div>
    </div>
  </div>
  <section class="planes-div">
    <h1>Chose your plane</h1>
    <div class="prise-tables">
      <div class="tcol pakge-1">
        <table>
          <thead>
            <tr>
              <th colspan="2">Standard</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Prise:</td>
              <td>Rs 7000</td>
            </tr>
            <tr>
              <td>Required Ref:</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Daily Income :</td>
              <td>600</td>
            </tr>
            <tr>
              <td>Renew Price:</td>
              <td>Rs 1500</td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="2">
              <a href="/profile/finance/deposit" class="tbtn">Start</a>
            </td>
          </tfoot>
        </table>
      </div>
      <div class="tcol pakge-2">
        <table>
          <thead>
            <tr>
              <th colspan="2">Middle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Prise:</td>
              <td>Rs 5000</td>
            </tr>
            <tr>
              <td>Required Ref:</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Daily Income :</td>
              <td>500</td>
            </tr>
            <tr>
              <td>Renew Price:</td>
              <td>Rs 2000</td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="2">
              <a href="/profile/finance/deposit" class="tbtn">Start</a>
            </td>
          </tfoot>
        </table>
      </div>
      <div class="tcol pakge-3">
        <table>
          <thead>
            <tr>
              <th colspan="2">Primuim (Only in offer day)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Prise:</td>
              <td>Rs 8000</td>
            </tr>
            <tr>
              <td>Required Ref:</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Daily Income :</td>
              <td>550</td>
            </tr>
            <tr>
              <td>Renew Price:</td>
              <td>Rs 1500</td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="2">
              <a href="/profile/finance/deposit" class="tbtn">Start</a>
            </td>
          </tfoot>
        </table>
      </div>
    </div>
  </section>

  <section class="team">
    <div class="responsive-container-block container">
      <p class="text-blk team-head-text">Our Team</p>
      <div class="responsive-container-block">
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container"
        >
          <div class="card">
            <div class="team-image-wrapper">
              <img
                class="team-member-image"
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png"
              />
            </div>
            <p class="text-blk name">Davis George</p>
            <p class="text-blk position">CEO</p>
            <p class="text-blk feature-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="social-icons">
              <a href="https://www.twitter.com" target="_blank">
                <img
                  class="twitter-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg"
                />
              </a>
              <a href="https://www.facebook.com" target="_blank">
                <img
                  class="facebook-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container"
        >
          <div class="card">
            <div class="team-image-wrapper">
              <img
                class="team-member-image"
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png"
              />
            </div>
            <p class="text-blk name">Davis George</p>
            <p class="text-blk position">CEO</p>
            <p class="text-blk feature-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="social-icons">
              <a href="https://www.twitter.com" target="_blank">
                <img
                  class="twitter-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg"
                />
              </a>
              <a href="https://www.facebook.com" target="_blank">
                <img
                  class="facebook-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container"
        >
          <div class="card">
            <div class="team-image-wrapper">
              <img
                class="team-member-image"
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png"
              />
            </div>
            <p class="text-blk name">Davis George</p>
            <p class="text-blk position">CEO</p>
            <p class="text-blk feature-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="social-icons">
              <a href="https://www.twitter.com" target="_blank">
                <img
                  class="twitter-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg"
                />
              </a>
              <a href="https://www.facebook.com" target="_blank">
                <img
                  class="facebook-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container"
        >
          <div class="card">
            <div class="team-image-wrapper">
              <img
                class="team-member-image"
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png"
              />
            </div>
            <p class="text-blk name">Davis George</p>
            <p class="text-blk position">CEO</p>
            <p class="text-blk feature-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="social-icons">
              <a href="https://www.twitter.com" target="_blank">
                <img
                  class="twitter-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg"
                />
              </a>
              <a href="https://www.facebook.com" target="_blank">
                <img
                  class="facebook-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container"
        >
          <div class="card">
            <div class="team-image-wrapper">
              <img
                class="team-member-image"
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png"
              />
            </div>
            <p class="text-blk name">Davis George</p>
            <p class="text-blk position">CEO</p>
            <p class="text-blk feature-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="social-icons">
              <a href="https://www.twitter.com" target="_blank">
                <img
                  class="twitter-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg"
                />
              </a>
              <a href="https://www.facebook.com" target="_blank">
                <img
                  class="facebook-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container"
        >
          <div class="card">
            <div class="team-image-wrapper">
              <img
                class="team-member-image"
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png"
              />
            </div>
            <p class="text-blk name">Davis George</p>
            <p class="text-blk position">CEO</p>
            <p class="text-blk feature-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="social-icons">
              <a href="https://www.twitter.com" target="_blank">
                <img
                  class="twitter-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg"
                />
              </a>
              <a href="https://www.facebook.com" target="_blank">
                <img
                  class="facebook-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container"
        >
          <div class="card">
            <div class="team-image-wrapper">
              <img
                class="team-member-image"
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png"
              />
            </div>
            <p class="text-blk name">Davis George</p>
            <p class="text-blk position">CEO</p>
            <p class="text-blk feature-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="social-icons">
              <a href="https://www.twitter.com" target="_blank">
                <img
                  class="twitter-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg"
                />
              </a>
              <a href="https://www.facebook.com" target="_blank">
                <img
                  class="facebook-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container"
        >
          <div class="card">
            <div class="team-image-wrapper">
              <img
                class="team-member-image"
                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png"
              />
            </div>
            <p class="text-blk name">Davis George</p>
            <p class="text-blk position">CEO</p>
            <p class="text-blk feature-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <div class="social-icons">
              <a href="https://www.twitter.com" target="_blank">
                <img
                  class="twitter-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg"
                />
              </a>
              <a href="https://www.facebook.com" target="_blank">
                <img
                  class="facebook-icon"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<% include ./partials/footer.ejs %>
